
body {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

/*followed tutorial text animation css glowing*/
.glow {
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #a2ebff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    outline: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    /* animation: glow 1s ease-in-out infinite alternate; */
    /* text-shadow: 0 0 20px #fff, 0 0 30px #9afaf2e1, 0 0 40px #9afaf2e1, 0 0 50px #9afaf2e1, 0 0 60px #9afaf2e1, 0 0 70px #9afaf2e1, 0 0 80px #9afaf2e1; */
}

/* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #84e2f3, 0 0 40px #84e2f3, 0 0 50px #84e2f3, 0 0 60px #84e2f3, 0 0 70px #84e2f3;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #9afaf2e1, 0 0 40px #9afaf2e1, 0 0 50px #9afaf2e1, 0 0 60px #9afaf2e1, 0 0 70px #9afaf2e1, 0 0 80px #9afaf2e1;
    }
  } */